<div id="viewArticles">
  <div class="row">
    <div style="margin-top:20px"></div>
  </div>

  <div class="row">
    <div class="card col s12 light-blue accent-1">
      <span id="titleinput" class="card-title">{{articles.title}}</span>
      <form action="/articles/{{articles._id}}" method="post" id="dataid">
        <h5>Comment on this Article</h5>
        <div class="row">
          <div class="input-field">
            <input id="nameinput" type="text" placeholder="Name" name="name" class="validate active">
          </div>
          <div class="input field">
            <input id="bodyinput" type="text" placeholder="Comment" name="comment" class="validate active">
          </div>
          <center><input class="btn add-comment-button topnav red lighten-2" type="Submit" value="submit" id="savenote"></center>
        </div>
    </div>
    </form>
  </div>

  {{#if articles.note}}
  {{#each articles.note}}
  <div class="row">
    <div class="card col s12 light-blue darken-3 white-text">
      <div class="row">
        <span class="card-title">Comments</span>
        <h6 id="nameComment">{{name}}</h6>
        <p>{{comment}}</p>
        <div style="padding:5px;">
        </div>
        <a href="/deletenote/{{this._id}}" id="deleteNote" data-id="{{this._id}}" class="red-text">Delete</a>
      </div>
    </div>
  </div>
  {{/each}}
  {{else}}
  <div class=row>
    <div class="col s2"></div>
    <div class="card col s10">
      <span class="card-title">No comments Yet.</span>
    </div>
  </div>
  {{/if}}
</div>